---
import MainLayout from "../../layouts/MainLayout.astro";
import BlogPostCard from "../../components/BlogPostCard.astro";
import { formatBlogPosts } from "../../scripts/utils";
export const getStaticPaths = async ({ paginate }) => {
  const allPosts = await Astro.glob("./*.md");
  const formattedPosts = formatBlogPosts(allPosts, {
    filterOutDrafts: false,
    filterOutFuturePosts: false,
  });
  return paginate(formattedPosts, { pageSize: 3 });
};
const { page } = Astro.props;
---

<MainLayout title="Blog" description="Blog Main Page">
  <div class="container" aria-label="New Blog Posts">
    <h1 class="h1">New Blog Posts</h1>
    <div class="post-container">
      {
        page.data.map((post) => (
          <BlogPostCard
            frontmatter={post.frontmatter}
            url={post.url}
            tagType="h2"
          />
        ))
      }
    </div>
  </div>
</MainLayout>
