---
import { formatBlogPosts, slugify } from "../scripts/utils";
const allPosts = await Astro.glob("../pages/blog/*.md");
const formattedPosts = formatBlogPosts(allPosts, {
  filterOutDrafts: false,
  filterOutFuturePosts: false,
});
const allCategories = formattedPosts
  .map((fpost) => fpost.frontmatter.category.toLowerCase())
  .flat();
const processedCate = allCategories.reduce((acc, cate) => {
  const value = acc[cate] || 0;
  return {
    ...acc,
    [cate]: value + 1,
  };
}, {});
const { showCount = false } = Astro.props;
---

<ul class="categories">
  {
    Object.entries(processedCate).map(([key, val]) => (
      <li>
        <a class="badge" href={`/category/${slugify(key)}`}>
          {key} {showCount && `(${val})`}
        </a>
      </li>
    ))
  }
</ul>
